.price {
    color: rgb(203, 91, 124);
    text-align: center;
}

.navbar a.active {
    background-color: #010e09;
    color: white;
}

.Menu_Title {
    text-align:center;
    font-size:larger;
    font-weight:bold;
}

.navbar {
    background-color: rgb(140, 14, 60);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(83, 12, 35);
    color: rgb(50, 127, 182);
}

#Name {
    font-size: 540%;
    color: rgb(203, 35, 57);
    font-family: Brush Script MT;
    margin-left: 30%;
}

#foot {
    font-family: Brush Script MT”;
    text-align: center;
    font-size: 500%;
    color: rgb(203, 35, 57);
    font-family: Brush Script MT;
}

#sidebar {
    background-color: antiquewhite;
}

* {
    color: rgb(44, 39, 13);
    font-size: large;
}

.food {
    color: rgb(14, 72, 49);
    text-align: center;
}

.WineImage {
    height: 100px;
    width: 80px;
    display: block;
    margin: 0px auto;
}

.CastleImage {
    height: 200px; 
    width: 200px;
    display: block;
    margin: 0px auto;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating {
    animation: rotating 2s linear infinite;
}

#head {
    background-image: url("OIP.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
